services:
  db:
    container_name: database
    image: timescale/timescaledb:latest-pg18
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "5050:80"

  backend:
    container_name: backend
    build:
      context: ./sps_backend
    command: bash -c "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - ./sps_backend:/usr/src/app/
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8001:8000"
    restart: always
